@import "./imports.scss";

body {
	padding-top: 50px;
}

.row.row-grid [class*="col-"] + [class*="col-"] {
	margin-top: 15px;
}

@media (min-width: 1200px) {
	.row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
		margin-top: 0;
	}
}
@media (min-width: 992px) {
	.row.row-grid [class*="col-md-"] + [class*="col-md-"] {
		margin-top: 0;
	}
}
@media (min-width: 768px) {
	.row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
		margin-top: 0;
	}
}

.list-separated li:not(:last-child):after {
	content:'|';
	margin-left: $list-inline-padding;
}

a[target="_blank"]:not(.blank-opt-out):after {
	content: '\f35d';
	font-family: FAwesome;
	font-size: 80%;
	margin-left: $spacer*.25;
	line-height: 1;
	position: relative;
}

.sm-post-list img {
	width: 65px;
	height: 65px;
}

.sm-votes {
	width: 12%;
	background-color: darken($light, 5%)
}

@include media-breakpoint-up(md) {
	.sm-votes {
		width: 8%;
	}
}

a {
	cursor: pointer;
}

.sm-post-link {
	color: $body-color;
	font-size: 120%;

	&#{&}:hover, &#{&}:active {
		color: lighten($body-color, 20%) !important;
		text-decoration: none;
	}

	&:visited, &:focus {
		color: lighten($body-color, 45%) !important;
	}
}

.sm-post-more {
	font-size: 80%;
	
	a {
		&, &:hover, &:active, &:visited {
			color: inherit;
		}
	}

	span {
		cursor: default;
		&:hover {
			text-decoration: underline;
		}
	}
}

// TODO: Cómo mierda poner esto en los componentes
/* NAVBAR */

.bg-wave {
	background-color: darken($light, 8%);
	border-color: $gray-500;
}

#navbar-m {
	.dropdown-item:not(.active):hover {
		background-color: darken($light, 10%);
	}
}


// TODO: Solucionar esta basura
@font-face {
	font-family: FAwesome;
	font-style:normal;
	font-weight:900;
	src:url(./assets/fa-solid-900.eot);
	src:url(./assets/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(./assets/fa-solid-900.woff2) format("woff2"),url(./assets/fa-solid-900.woff) format("woff"),url(./assets/fa-solid-900.ttf) format("truetype"),url(./assets/fa-solid-900.svg#fontawesome) format("svg")
}

@keyframes spin {
	0% {
	 transform:rotate(0deg)
	}
	to {
	 transform:rotate(1turn)
	}
   }

.loading-ready:not(.loading-after)[disabled]:before, .loading-ready-after[disabled]:after {
	font-family: FAwesome;
	content: '\f110';
	font-size: 90%;
	margin-right: $spacer*.25;
	line-height: 1;
	display: inline-block;
	position: relative;
	animation: spin 2s infinite linear;
}

.loading-ready-after[disabled]:after {
	margin: 0 0 $spacer*.25 0; 
}